body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: yellowgreen;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nba-logo {
  position: absolute;
  margin: 10px 15px;
  width: 200px;
}

.title {
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 3rem;
}
.input {
  display: block;
  margin: 10vh auto;
  border: none;
  width: 75vh;
  height: 50px;
  border-radius: 10px;
}
.input::placeholder {
  text-align: center;
  font-size: 1rem;
}

.input:focus {
  outline: none;
  font-size: 1.5rem;
}
.card-container {
  max-width: 1900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  position: relative;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin: 10px 10px;
  overflow: hidden;
  cursor: pointer;
 transition: all 1s;
}
.card:hover{
  transform: scale(0.9);
}

.card-name {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  margin-bottom: 0;
  bottom: 0;
  background-color: white;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card-click-container {
  position: relative;
  background-color: #6495ed;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin: 10px 10px;
  cursor: pointer;
  overflow: hidden;
  list-style-type: none;
  transition: all 2s;
}
.statistics-img {
  display: none;
}
.card-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  transition: all 2s;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card-ul li::marker {
  content: "🏀";
}
